API_ID=
API_HASH=
PHONE_NUMBER=

SOURCE_CHANNEL=@masherelwafy
TARGET_CHANNEL=

PRICE_INCREMENT=10
PRICE_LIMIT=400

OFFICE_NAME=مكتب أولاد العم للجملة
WHATSAPP=01094937995

SHIPPING_TEXT=شحن لجميع المحافظات
